.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'header'
                         'main'
                         'section1'
                         'section2'
                         'footer';
    width: 100%;
    min-width: 320px;
    max-width: 1200px;
    min-height: 100vh;
}