.main{
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    padding: 5rem 0 0;
    color: $veryDarkBlue;
    
    .main__figure{
        width: 90%;
        .main__illustration{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .main__title{
        font-size: 1.5rem;
        font-weight: 700;
    }
    .main__paragraph{
        font-size: .9rem;
        width: 90%;
    }
    .form{
        padding-bottom: 5rem;
        .form__input, .form__button{
            border-radius: .25rem;
            border: none;
            padding: .7rem 1.2rem;
            font-family: $fontFamilyHead;
        }
        .form__input{
            border: 1px solid $desaturatedBlue;
        }
        .form__input::placeholder{
            color: $lightGray;
            font-family: $fontFamilyHead;
        }
        .form__button{
            background-color: $brightBlue;
            color: white;
            font-weight: 600;
        }
    }
    :not(.main__wave, .main__figure){ 
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }
    .main__wave{
        position: relative;
        width: 100%;
        height: 53px;
    }
    .main__wave::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        background-image: url('../images/bg-curve-mobile.svg');
        background-repeat: no-repeat;
        background-size: 100% 53px;
        background-position: center;
    }
}