.section:nth-of-type(1){
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    background-color: $lightGrayishBlue;
    .section__figure{
        display: flex;
        justify-content: center;
    }
    .section__illustration{
        width: 90%;
        height: auto;
        margin-bottom: 4rem;
    }
    .section__subtitle{
        font-size: 1rem;
        font-weight: 700;
        font-family: $fontFamilyHead;
        color: $veryDarkBlue;
    }
    .section__paragraph{
        font-size: .9rem;
        width: 90%;
        align-self: flex-start;
        color: $desaturatedBlue;
    }
    .section__button{
        display: flex;
        align-items: center;
        padding: .3rem 0;
        margin: 1.3rem 0;
        gap: .3rem;
        border-bottom: 1px solid $moderateCyan;

        .button-content{
            border: none;
            font-family: $fontFamilyBody;
            color: $moderateCyan;
            background-color: transparent;
        }
        .button-figure{
            width: 1rem;
            height: 1rem;
            .button-icon{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .6rem;
        padding: 1.5rem 1.3rem 1.5rem 1.5rem;
        width: 80%;
        border-radius: .25rem;
        background-color: #fff;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

        .card__figure{
            align-self: flex-start;
            width: auto;
            height: .7rem;

            .card__icon{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .card__paragraph{
            font-size: .65rem;
            line-height: 1.8;
            color: $veryDarkBlue;
        }
        .user{
            display: flex;
            gap: .5rem;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            .user__figure{
                width: 1.8rem;
                height: 1.8rem;

                .user__image{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .user__name{
                font-size: .7rem;
                font-weight: 700;
                font-family: $fontFamilyHead;
                color: $veryDarkBlue;
            }
            .user__job{
                font-size: .4rem;
                font-weight: 700;
                font-family: $fontFamilyBody;
                color: $veryDarkBlue;
            }
        }
    }
}