:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-color: rgb(232, 231, 231);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

header, main, section, form, footer {
  display: flex;
  flex-direction: column;
}

form {
  width: 90%;
  gap: 1rem;
}

.content {
  display: contents;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "section1" "section2" "footer";
  width: 100%;
  min-width: 320px;
  max-width: 1000px;
  min-height: 100vh;
  background-color: white;
}

.header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  font-family: "Raleway", sans-serif;
}
.header .header__figure {
  display: flex;
  justify-content: center;
  width: 25%;
}
.header .header__figure .header__logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .header__list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 0.8rem;
}
.header .header__list .header__link {
  color: hsl(243, 87%, 12%);
}

.main {
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  padding: 5rem 0 0;
  color: hsl(243, 87%, 12%);
}
.main .main__figure {
  width: 90%;
}
.main .main__figure .main__illustration {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main .main__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.main .main__paragraph {
  font-size: 0.9rem;
  width: 90%;
}
.main .form {
  padding-bottom: 5rem;
}
.main .form .form__input, .main .form .form__button {
  border-radius: 0.25rem;
  border: none;
  padding: 0.7rem 1.2rem;
  font-family: "Raleway", sans-serif;
}
.main .form .form__input {
  border: 1px solid hsl(238, 22%, 44%);
}
.main .form .form__input::-moz-placeholder {
  color: hsl(0, 0%, 75%);
  font-family: "Raleway", sans-serif;
}
.main .form .form__input::placeholder {
  color: hsl(0, 0%, 75%);
  font-family: "Raleway", sans-serif;
}
.main .form .form__button {
  background-color: hsl(224, 93%, 58%);
  color: white;
  font-weight: 600;
}
.main :not(.main__wave, .main__figure) {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}
.main .main__wave {
  position: relative;
  width: 100%;
  height: 53px;
}
.main .main__wave::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-image: url("../images/bg-curve-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 53px;
  background-position: center;
}

.section:nth-of-type(1) {
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  padding-bottom: 5rem;
  background-color: hsl(240, 75%, 98%);
}
.section:nth-of-type(1) .section__figure {
  display: flex;
  justify-content: center;
}
.section:nth-of-type(1) .section__illustration {
  width: 90%;
  height: auto;
  margin-bottom: 4rem;
}
.section:nth-of-type(1) .section__subtitle {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: hsl(243, 87%, 12%);
}
.section:nth-of-type(1) .section__paragraph {
  font-size: 0.9rem;
  width: 90%;
  align-self: flex-start;
  color: hsl(238, 22%, 44%);
}
.section:nth-of-type(1) .section__button {
  display: flex;
  align-items: center;
  padding: 0.3rem 0;
  margin: 1.3rem 0;
  gap: 0.3rem;
  border-bottom: 1px solid hsl(170, 45%, 43%);
}
.section:nth-of-type(1) .section__button .button-content {
  border: none;
  font-family: "Open Sans", sans-serif;
  color: hsl(170, 45%, 43%);
  background-color: transparent;
}
.section:nth-of-type(1) .section__button .button-figure {
  width: 1rem;
  height: 1rem;
}
.section:nth-of-type(1) .section__button .button-figure .button-icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section:nth-of-type(1) .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 1.5rem 1.3rem 1.5rem 1.5rem;
  width: 80%;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.section:nth-of-type(1) .card .card__figure {
  align-self: flex-start;
  width: auto;
  height: 0.7rem;
}
.section:nth-of-type(1) .card .card__figure .card__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section:nth-of-type(1) .card .card__paragraph {
  font-size: 0.65rem;
  line-height: 1.8;
  color: hsl(243, 87%, 12%);
}
.section:nth-of-type(1) .card .user {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.section:nth-of-type(1) .card .user .user__figure {
  width: 1.8rem;
  height: 1.8rem;
}
.section:nth-of-type(1) .card .user .user__figure .user__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.section:nth-of-type(1) .card .user .user__name {
  font-size: 0.7rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: hsl(243, 87%, 12%);
}
.section:nth-of-type(1) .card .user .user__job {
  font-size: 0.4rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: hsl(243, 87%, 12%);
}

.section:nth-of-type(2) {
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 4.5rem 2.8rem;
  background-color: hsl(238, 22%, 44%);
}
.section:nth-of-type(2) .section__subtitle {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
.section:nth-of-type(2) .section__paragraph {
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.5;
  color: #fff;
}
.section:nth-of-type(2) .form--small {
  gap: 0.5rem;
  width: 80%;
}
.section:nth-of-type(2) .form--small .form__input, .section:nth-of-type(2) .form--small .form__button {
  border: none;
  border-radius: 0.15rem;
  padding: 0.5rem;
  font-family: "Raleway", sans-serif;
}
.section:nth-of-type(2) .form--small .form__input::-moz-placeholder {
  color: hsl(0, 0%, 75%);
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
}
.section:nth-of-type(2) .form--small .form__input::placeholder {
  color: hsl(0, 0%, 75%);
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
}
.section:nth-of-type(2) .form--small .form__button {
  background-color: hsl(224, 93%, 58%);
  color: white;
  font-weight: 600;
  font-size: 0.7rem;
}

.footer {
  padding: 4rem 2.8rem;
  background-color: hsl(243, 87%, 12%);
  gap: 2rem;
}
.footer .footer__contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}
.footer .footer__contact .footer__phone, .footer .footer__contact .footer__email {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .footer__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0;
}
.footer .footer__list .footer__link {
  color: white;
}
.footer .footer__social-media {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}
.footer .footer__social-media .footer__icon {
  width: 1.5rem;
  height: 1.5rem;
}
.footer .footer__author {
  text-align: center;
  color: white;
}
.footer .footer__author .footer__link {
  color: white;
  text-decoration: underline;
}
@media screen and (min-width: 767px) {
  .container .main__figure {
    width: 80%;
  }
  .container .section__ilustration {
    width: 80%;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .container .header, .container .section, .container .footer {
    padding: 3rem 4rem;
  }
  .container .header, .container .main, .container .section, .container .footer {
    grid-column: 1/-1;
  }
  .container .header .header__figure {
    width: 15%;
  }
  .container .header .header__list {
    font-size: 0.8rem;
  }
  .container .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    padding: 0;
  }
  .container .main :not(.main__wave, .main__figure) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .container .main .content {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.8rem;
    text-align: left;
    padding-right: 0;
  }
  .container .main .content .main__title {
    font-size: 1.7rem;
    text-align: left;
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    padding: 0;
  }
  .container .main .content .main__paragraph {
    font-size: 0.8rem;
    line-height: 1.5;
    width: 100%;
    padding: 0;
    margin-bottom: 0.2rem;
  }
  .container .main .content .form {
    flex-direction: row;
    width: 100%;
    padding: 0;
  }
  .container .main .content .form .form__input {
    padding: 0.6rem 1.2rem;
    width: 55%;
    font-size: 0.7rem;
  }
  .container .main .content .form .form__button {
    font-weight: 400;
    padding: 0.6rem 2.3rem;
    width: auto;
    font-size: 0.7rem;
  }
  .container .main .main__figure {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
  }
  .container .main .main__figure .main__illustration {
    padding-left: 0;
  }
  .container .main .main__wave {
    grid-column: 1/-1;
    grid-row: 2/3;
    margin-top: 6rem;
  }
  .container .main .main__wave::after {
    background-image: url("../images/bg-curve-desktop.svg");
  }
  .container .section:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    grid-template-rows: auto;
  }
  .container .section:nth-of-type(1) .content {
    grid-column: 1/2;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .container .section:nth-of-type(1) .content .section__subtitle {
    font-size: 1.7rem;
  }
  .container .section:nth-of-type(1) .section__figure {
    grid-column: 2/3;
    grid-row: 1/-1;
  }
}/*# sourceMappingURL=style.css.map */